# Prerequisites
/catkin_myspace/build
/catkin_myspace/devel
/catkin_myspace/.vscode



catkin_myspace/src/multisensor_localization/Log/

catkin_myspace/kitti_2011_10_03_drive_0027_synced.bag

catkin_myspace/kitti_lidar_only_2011_10_03_drive_0027_synced.bag

catkin_myspace/src/multisensor_localization/data/key_frames/

catkin_myspace/src/multisensor_localization/data/

catkin_myspace/src/rviz_satellite/mapscache/
